<div class="avatar__container" (click)="onGuestClick()">
  @if (guest()) {
    <div class="avatar__fallback avatar__fallback--guest">
      <svg lucideLogIn aria-hidden="true" class="avatar__default-icon"></svg>
    </div>
  } @else {
    @if (src() && !imageError()) {
      <img 
        [src]="src()" 
        [alt]="alt()" 
        [attr.loading]="loading()" 
        (load)="onLoad()" 
        (error)="onError()"
        class="avatar__image"
        [class.is-loaded]="imageLoaded()"
      >
    }
    
    @if (!src() || imageError() || (src() && !imageLoaded())) {
      <div class="avatar__fallback">
        @if (fallback()) {
          {{ fallback() }}
        } @else {
          <svg lucideUser aria-hidden="true" class="avatar__default-icon"></svg>
        }
      </div>
    }
  }
</div>

@if (status() && !guest()) {
  <span class="avatar__status" [class]="'avatar__status--' + status()"></span>
}
