.divider {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.divider--horizontal {
  width: 100%;
  height: 1px;
}

.divider--vertical {
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/* Types */
.divider--solid {
  background: var(--border-subtle);
}

.divider--dashed {
  background: none;
}
.divider--horizontal.divider--dashed {
  border-top: 1px dashed var(--border-subtle);
}
.divider--vertical.divider--dashed {
  border-left: 1px dashed var(--border-subtle);
}

.divider--dotted {
  background: none;
}
.divider--horizontal.divider--dotted {
  border-top: 1px dotted var(--border-subtle);
}
.divider--vertical.divider--dotted {
  border-left: 1px dotted var(--border-subtle);
}
