<header class="navigation">
  <div class="navigation__container">
    <a routerLink="/" class="navigation__brand">
      <span class="navigation__logo"> O </span>

      <span class="navigation__name"> Oríta </span>
    </a>

    <nav class="navigation__links">
      @for (link of links; track link.route) {

      <a [routerLink]="link.route" routerLinkActive="active"> {{ link.label }} </a>

      }
    </nav>

    <div class="navigation__actions">
      <a routerLink="/login" class="navigation__login"> Log in </a>

      <a routerLink="/search" class="navigation__cta"> Start Exploring </a>
    </div>

    <button type="button" class="navigation__menu" (click)="toggleMenu()">☰</button>
  </div>

  @if (open()) {

  <nav class="navigation__mobile">
    @for (link of links; track link.route) {

    <a [routerLink]="link.route" (click)="closeMenu()"> {{ link.label }} </a>

    }

    <a routerLink="/login" (click)="closeMenu()"> Log in </a>

    <a routerLink="/search" class="navigation__mobile-cta" (click)="closeMenu()">
      Start Exploring
    </a>
  </nav>

  }
</header>
