@if (open()) {
<div
  class="drawer-backdrop"
  [style.opacity]="backdropOpacity()"
  (click)="onBackdropClick()"
  aria-hidden="true"
></div>
}

<div
  #panel
  class="drawer-panel"
  [class]="positionClass()"
  [class.drawer-panel--open]="open()"
  [class.drawer-panel--dragging]="isDragging()"
  [style]="panelStyle()"
  role="dialog"
  [attr.aria-modal]="true"
  [attr.aria-hidden]="!open()"
>
  @if (position() === 'bottom') {
  <div
    class="drawer-drag-handle"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerCancel()"
  ></div>
  }

  <div class="drawer-body">
    <ng-content />
  </div>
</div>
