@if (isRendered()) {
<div
  class="drawer-backdrop"
  [class.drawer-backdrop--open]="isOpenPhase()"
  [style.opacity]="backdropOpacity()"
  (click)="onBackdropClick()"
  aria-hidden="true"
></div>

<div
  #panel
  class="drawer-panel"
  [class]="positionClass()"
  [class.drawer-panel--open]="isOpenPhase()"
  [class.drawer-panel--dragging]="isDragging()"
  [style]="panelStyle()"
  role="dialog"
  [attr.aria-modal]="true"
  [attr.aria-hidden]="!isOpenPhase()"
  tabindex="-1"
  (transitionend)="onPanelTransitionEnd($event)"
>
  @if (position() === 'bottom') {
  <div
    class="drawer-drag-handle"
    (pointerdown)="onPointerDown($event)"
    (pointermove)="onPointerMove($event)"
    (pointerup)="onPointerUp($event)"
    (pointercancel)="onPointerCancel()"
  ></div>
  }

  <div class="drawer-body">
    <ng-content />
  </div>
</div>
}
