<div class="alert__icon">
  @switch (intent()) {
    @case ('success') { <svg lucideCheckCircle aria-hidden="true"></svg> }
    @case ('warning') { <svg lucideAlertTriangle aria-hidden="true"></svg> }
    @case ('error') { <svg lucideAlertCircle aria-hidden="true"></svg> }
    @default { <svg lucideInfo aria-hidden="true"></svg> }
  }
</div>
<div class="alert__content">
  @if (title()) {
    <div class="alert__title">{{ title() }}</div>
  }
  <div class="alert__description">
    <ng-content></ng-content>
  </div>
  @if (actionLabel()) {
    <button type="button" class="alert__action" (click)="onAction()">{{ actionLabel() }}</button>
  }
</div>
@if (dismissible()) {
  <button type="button" class="alert__dismiss" aria-label="Dismiss alert" (click)="onDismiss()">
    <svg lucideX aria-hidden="true"></svg>
  </button>
}
